[net]
# Testing
# batch=1
# subdivisions=1
# Training
batch=24
subdivisions=3
width=416
height=416
channels=3
momentum=0.9
decay=0.0005
angle=1
saturation = 1.5
exposure = 1.5
hue=.2
blur=1
flip=1

learning_rate=0.001
burn_in=1000
max_batches = 500000
policy=steps
steps=300000,400000
scales=.1,.1


[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=1

[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

###########

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=27
activation=linear



[yolo]
mask = 6,7,8
#anchors = 12, 26,  24, 37,  16,114,    39, 55,  60, 83,  50,222,    92,126, 135,220, 230,316
#anchors =   9, 20,  19, 29,  32, 44,  20,115,  49, 66,  74,100,  98,173, 155,241, 261,328
anchors =   9, 19,  20, 29,  33, 45,  18, 96,  53, 71,  83,110,  50,208, 128,192, 225,310
classes=4
num=9
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1

[route]
layers = -4

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers = -1, 8

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=27
activation=linear

[yolo]
mask = 3,4,5
anchors = 12, 26,  24, 37,  16,114,    39, 55,  60, 83,  50,222,    92,126, 135,220, 230,316
classes=4
num=9
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1



[route]
layers = -3

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers = -1, 6

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=27
activation=linear

[yolo]
mask = 0,1,2
anchors = 12, 26,  24, 37,  16,114,    39, 55,  60, 83,  50,222,    92,126, 135,220, 230,316
classes=4
num=9
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1
